<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokédex</title>
</head>

<body>

    <nav>
        <article>
            <h1><a href="/">Pokédex</a></h1>
        </article>
        <ul>
            <li><a href="/cadastro">Cadastro</a></li>
        </ul>
    </nav>

    <header>
        <h2>Pokédex</h2>
    </header>

    <div class="poke-container">
        <% pokedex.forEach((poke, index)=> { %>
    <a class="entry" href="/detalhes/<%=index%>">
        <div class="poke-card" id="poke-card">
            <div class="img-container">
            <img src="<%=poke.portrait%>" alt="">
        </div>
        <div class="info">
            <span class="number">#<%=poke.number%></span>
            <h3 class="name"><%=poke.name%></h3>
            <small>Type:</small>
            <small class="poke-type"><%=poke.type%></small>
        </div>
    </div>
    <% }) %>
</a>
    </div>

    <script src="/js/script.js"></script>

</body>

</html>